@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: #551A8B;
    cursor: pointer;
}

.mainbg{
    padding: 30px;
    height: 200px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 36%, rgba(148,187,233,1) 66%);
}

.maintitle{
    font-size: 3.75rem;
    color: #FFFFFF;
    position: relative;
    left: 10%;
    top: 50%;
}

.nav-list{
    list-style: none;
}

.nav-menu{
    background-color: #f9f9f9;
    text-align: center;
    margin: auto;
    width: 95%;
    padding: 20px;
    box-sizing: border-box;
    z-index: 2;
    border-radius: 100px;
    transition: all 0.5s;
}

.nav-bg{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 0%);;
}

.nav-item{
    display: inline-block;
    margin: 0 5% 0 5%;
    font-size: 1.125rem;
}

.nav-button{
    border: 0;
    background-color: #f9f9f9;
    width: 100px;
    cursor: pointer;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    border-radius: 0;
    transition: all 0.5s;
}

.generalbox{
    display: flex;
    padding: 50px;
}

.mainbox1{
    background: rgb(238,174,202);
    background: linear-gradient(6deg, rgba(238,174,202,1) 39%, rgba(148,187,233,1) 60%);
}

.mainimgbox{
    border: 3px solid white;
    overflow: hidden;
    transition: all 1s;
}

.mainimgbox:hover{
    transform: scale(1.04);
}

.mainimg{
    width: 100%;
    height: 100%;
}

.content1{
    margin-left: 20px;
}

.content2{
    margin-right: 20px;
}

.maintext{
    color: #FFFFFF;
}

.mainbox2{
    background: rgb(238,174,202);
    background: linear-gradient(187deg, rgba(238,174,202,1) 46%, rgba(148,187,233,1) 100%);
}

.mainbox3{
    background: rgb(148,187,233);
    background: linear-gradient(152deg, rgba(148,187,233,1) 14%, rgba(238,174,202,1) 100%);
}

.reducedbox{
    width: 90%;
}

.modal {
    display: none;
    position: fixed; 
    z-index: 5;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
  
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    height: 70%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 3rem;
    overflow: hidden;
}
  
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
  
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin: 0.5rem 1rem 1rem 1rem;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
  
.modal-header {
    padding: 10px 16px;
    background: rgb(148,187,233);
    background: linear-gradient(152deg, rgba(148,187,233,1) 14%, rgba(238,174,202,1) 70%);;
    color: white;
    height: 15%;
    font-size: 1.8rem;
}
  
.modal-body {
    padding: 2px 16px;
    height: 70%;
    box-shadow: -1rem 0 3rem #0003;
}
  
.modal-footer {
    padding: 10px 16px;
    background: rgb(238,174,202);
    background: linear-gradient(152deg, rgba(238,174,202,1) 24%, rgba(148,187,233,1) 76%);
    color: white;
    height: 10%;
    box-shadow: -1rem 0 3rem #0003;
}

.modal-title {
    margin: 1% 0 0 2%;
}

.instabox{
    font-size: 30px;
    margin: 2% 0 0 4%;
}

.socialicon{
    margin-right: 5px;
    font-size:35px;
}

.sociallink{
    display: flex;
}

.recolorsocial{
    color: #551A8B;
    display: inline;
}

.mainlink{
    color: #551A8B;
}

.videobox{
    border: 3px solid white;
    overflow: hidden;
    width: 284px;
    height: 500px;
    margin: auto;
}

.mainvideo{
    width: 100%;
    height: 100%;
}

.container {
    position: absolute;
    height: 300px;
    width: 800px;
    top: 450px;
    left: calc(50% - 400px);
    display: flex;
    overflow: visible;
}
  
.card {
    display: flex;
    height: 380px;
    width: 300px;
    background-color: #C9B8FF;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #0003;
  /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;  
}
  
.card:not(:first-child) {
    margin-left: -50px;
}
  
.card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;  
}
  
.card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
}
  
.title {
    color: #666666;
    font-weight: 500;
    position: absolute;
    left: 20px;
    top: 180px;
}

.storebox{
    padding: 400px;
}

.cardimgbox{
    width: 200px;
    height: 140px;
    text-align: center;
    margin: 10% auto;
    border-radius: 5px;
    overflow: hidden;
}

.cardimgboxsquare{
    width: 140px;
    height: 140px;
}

.cardimg{
    width: 100%;
    height: 100%;
}

.buying-button{
    position: absolute;
    top: 300px;
    left: 20px;
    font-size: 15px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: rgb(148,187,233);
    color: #FFFFFF;
    font-weight: 500;
}

.buying-button:hover{
    background-color: #551A8B;
    transition: all 0.3s;
}

.cardtext{
    font-size: 13px;
    color: #666666;
    position: absolute;
    top: 210px;
    left: 20px;
}

.typing-effect {
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid black;
    animation: typing 4s steps(20) infinite, blink 1s infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 27%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.slideshow-container {
    max-width: 700px;
    position: relative;
    margin: 20px auto 0 auto;
}
  
/* Hide the images by default */
.mySlides {
    display: none;
}
  
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
  
/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
  
/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}
  
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.gallerybox{
    padding: 100px;
}

.storehousereturn{
    font-size: 25px;
    position: absolute;
    top: 20px;
    left: 200px;
}

.buyingmain{
    width: 100%;
    height: 100vh;
    height: 1000px;
}

.buyinginputbox{
    background-color: #fefefe;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 100%;
    width: 900px;
    margin-top: 300px;
    padding: 50px;
    border-radius: 0.5rem;
}

.finalbuyingbutton{
    font-size: 15px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: rgb(148,187,233);
    color: #FFFFFF;
    font-weight: 500;
}

.finalbuyingbutton:hover{
    background-color: #551A8B;
    transition: all 0.3s;
}

.inputbox{
    width: 80%;
    padding: 12px;
    border: none;
    background-color: #f2f2f2;
    border-radius: 0.25rem;
    font-size: 15px;
    color:#717171;
}

.extrainput{
    width: 82.5%;
}

.size-box{
    display: flex;
}

.size-mini-box{
    margin-right: 15px;
    color: #717171;
    background-color: #f2f2f2;
    padding: 8px;
    border-radius: 0.25rem;
}